*.pyc
.RData
.Rhistory
.*.swp
*.swp
data/
log/

examples/result_output/
examples/sql_output/
examples/result_input/
examples/sql_input/
examples/expected_input/

*.segment_logs

datasets/sql/*.*
datasets/download/*.*

/pygresql
