*.pyc
.RData
.Rhistory
.*.swp
*.swp
data/
log/
*.ans
settings/dbsettings.py

result/
result_output/
sql_output/
sql_input/
result_input/
examples/linregr/expected_input/
examples/linregr/result_input2/
examples/linregr/sql_input2/
examples/linregr/expected_input2/
examples/linregr/expected_input/

*.segment_logs

datasets/sql/*.*
datasets/download/*.*

/pygresql

upgrade_home
examples/upgrade/test_0.6_0.7/*.out
examples/upgrade/test_0.6_0.7/*.diff
