*.pyc
.RData
.Rhistory
.*.swp
*.swp
data/
log/

result_output/
sql_output/
sql_input/
result_input/
examples/result_input2/
examples/sql_input2/
examples/expected_input2/

*.segment_logs

datasets/sql/*.*
datasets/download/*.*

/pygresql
