# ------------------------------------------------------------------------
# Setting database properties
#
# Setting value to None uses the default values of psql
# When port is None, it uses the environment variable $PGPORT
# ------------------------------------------------------------------------

# Personal laptop settings
# All values are decided by environment variables
# and default values of psql
default = dict()

# ------------------------------------------------------------------------

# default PULSE setting
pulse = dict(dbname = "madlib",
             username = "gpdbchina",
             superuser = "gpdbchina",
             host = "localhost",
             port = 55000,
             schema_madlib = "madlib",
             schema_testing = "madlibtestdata")

# ------------------------------------------------------------------------

# maddemo machine setting
# As an example, this has all the parameters
demo = dict(dbname = "madlib",
            username = "gpdbchina", # tesing user
            userpwd = None,
            host = "maddemo.greenplum.com",
            port = 55000,
            schema_madlib = "madlib",
            schema_testing = "madlibtestdata",
            pg_options = None, # PG server options
            psql_options = "-x", # PG client options, expended view of result, might be easier to process
            # ------------------------------------------------
            # The following are only for data loader & upgrade test
            superuser = "gpdbchina",
            superpwd = None,
            version = None)

# ------------------------------------------------------------------------

# Postgres on demo machine
demopg = dict(dbname = "gpdbchina",
              username = "gpdbchina",
              userpwd = None,
              host = "localhost",
              port = 5455,
              schema_madlib = "madlib",
              schema_testing = "madlibtestdata",
              psql_options = "-x",
              # ------------------------------------------------
              # The following are only for data loader & upgrade test
              superuser = "gpdbchina",
              superpwd = None)

# ------------------------------------------------------------------------

# Hai's GPDB
haigp = dict(dbname = "qianh1",
             username = "madlibtester", # tesing user
             userpwd = None,
             host = "localhost",
             port = 14526,
             schema_madlib = "madlib",
             schema_testing = "madlibtestdata",
             # ------------------------------------------------
             # The following are only for data loader & upgrade test
             superuser = "qianh1",
             superpwd = None)

# ------------------------------------------------------------------------

# Hai's Postgres
haipg = dict(dbname = "qianh1",
             username = "qianh1", # tesing user
             userpwd = None,
             host = "localhost",
             port = 5433,
             schema_madlib = "madlib",
             schema_testing = "madlibtestdata",
             # ------------------------------------------------
             # The following are only for data loader & upgrade test
             superuser = "qianh1",
             superpwd = None)

# Shengwen's GPDB
swgp = dict(dbname = "yangs16",
             username = "yangs16", # tesing user
             userpwd = None,
             host = "localhost",
             port = 5432,
             schema_madlib = "madlib",
             schema_testing = "madlibtestdata",
             # ------------------------------------------------
             # The following are only for data loader & upgrade test
             superuser = "yangs16",
             superpwd = None)

irgp42 = dict(dbname = "madlib-gp42",
             username = "iyerr3", # user
             userpwd = None,
             host = "localhost",
             port = 5435,
             schema_madlib = "madlib",      # where madlib is installed
             schema_testing = "madlibtestdata",     # where datasets are placed
             psql_options = "-x", # PG client options, expended view of result, might be easier to process
             # ------------------------------------------------
             # The following are only for data loader & upgrade test
             superuser = "iyerr3",
             superpwd = None)
